*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

body {
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding:20px;
    background-color: #F7C8C7 ;
}

nav {
    flex: 1;
    text-align:right;
    background-color: #F7C8C7 ;

}
nav ul {
    display: inline-block;
    list-style-type:none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #555;
}

p{
    color : #555;
    word-spacing: normal;
}

.container{
    max-width: 1300px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content:space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 h1{
   font-size: 50px;
   line-height: 60px;
   margin: 25px 0;
}
.col-2 img{
    max-width: 100%;
    padding: 26px 0;
}

.btn{
    display: inline-block;
    background : #F7C8C7;
    padding: 8px 30px;
    color:black;
    margin: 30px 0;
    border-radius: 10px;
    transition: background 0.5s;
    
}

.btn:hover{
    background: #563434;
    color:aliceblue; 
}
.header .row {
 margin-top: 10px;
 padding-left: 100px;

}

.categories {
    margin: 70px 0;
    
}
.col-3{
    flex-basis:30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container {
    max-width: 1080px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;

}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width:200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
  
    
}
.col-4 img{
    width:100%;
}

h5{
    font-size:small;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position:relative;
    line-height:60px;
    color:black;
}
.title::after{
      content:'';
      background:#F7C8C7;
      width: 100px;
      height: 8px;
      border-radius: 8px;
      position: absolute;
      bottom:0;
      left: 50%;
      transform: translateX(-50%);
}

h4{
    color:black;
    font-weight: bold;
}

.col-4 p {
    font-size: 16px;
    color: brown;
    font-weight: normal;
}
h5{
    color:#555;
    font-weight:lighter;
}

.col-4:hover {
   transform: translateY(-8px);
}

/*--- footer---*/
.footer{
    background-color: #F7C8C7;
    color: gray;
    font-size: 16px;
    padding: 40px 0 20px;
    text-align: center;
    font-size: medium;
}